<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <div class="form-contianer">
        <h2><i class="fa-thin fa-right-to-bracket"></i>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                    <div class="form-group">
                        <label for="password">password:</label>
                        <input type="password" id="password" name="password" placeholder="password" required>
                    </div>
                    <button type="submit" class="submit-btn">submit</button>
        </form>
            <p>Create a new account. <a href="/signup">signup</a></p>
    </div>
</body>
</html>
